{% extends 'principal.html' %}
{% load static %}
{% load bootstrap_icons %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

{% block cabecera %}
    <div class="d-flex justify-content-evenly">
        <div class ="cabecera">
            <h1>VOTACIONES | LISTA MEJORADO </h1>
        </div>
    </div>
{% endblock %}

{% block contenido %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0 mt-5" role="alert">
                {{ message }}
                <button type"button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="descripcion_body">
        <div class="descripcion_body-texto">    
            {% for votacion in votaciones %}
                <h2>ID: {{ votacion.id }}</h2>
                <h2>Puntuacion: {{ votacion.puntuacion }}</h2>
                <h2>Fecha: {{ votacion.fecha_votacion }}</h2>
                <h2>Comentario: {{ votacion.comenta_votacion }}</h2>
                <h2>Producto Votado: {{ votacion.voto_producto.nombre_prod|truncatewords:3 }}</h2>
                <h2>Cliente: {{ votacion.voto_cliente.usuario.first_name|truncatewords:3 }}</h2>

                <br>
                <br>
                <br>
                <hr>
            {% empty %}
            <h2> No se encontraron datos. </h2>
            {% endfor %}
        </div>
    {% block busqueda %}
    {% endblock %}
    </div>
{% endblock %}