{% load static %}
{% load bootstrap5 %}
{% block contenido %}
<div class="container-menu">
    <div class="text-center">
        <h6>Fecha Inicio: {{ request.session.fecha_inicio}}</h5>
        {% if request.user.is_authenticated %}
        <h5>¡Hola, {{ request.user.username }}!</h5>
        {% endif %}
    </div>
    <div class="header">
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'imagenes/Logo.jpg' %}" alt="logotipo web"/></a>
        </div>
        <div>
        
        </div>
        <div class="menu-expansible">
            <ul>
                <!-- Elemento del menú "Categorías" con un submenu-->
                <li><a href="#"> Ejercicios <i class="fa-solid fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li></li>
                    </ul>
                </li>
                <li><a href="#">Lista de Solicitudes API <i class="fa-solid fa-chevron-down"></i></a>
                    <ul class="listacruds">
                        
                        <li><a href="#">Farmacias</a>
                            <ul class="submenulista">
                                <li><a href="{% url 'lista_farmacias_api_mejorado' %}">Lista de Farmacias API</a> </li>
                                <li><a href="{% url 'farmacia_crear' %}">Crear Farmacia API</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Votaciones</a>
                            <ul class="submenulista">
                                <li><a href="{% url 'lista_votaciones_api_mejorado' %}">Lista de Votaciones API Mejorado</a></li>
                                <li><a href="{% url 'votacion_crear' %}">Crear Votacion API</a></li>
                                <li><a href="{% url 'votacion_busqueda_avanzada' %}">Busq. Avanzada Votacion</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Empleados</a>
                            <ul class="submenulista">
                                <li><a href="{% url 'lista_empleados_api' %}">Lista de Empleados API</a> </li>
                                <li><a href="{% url 'lista_empleados_api_mejorado' %}">Lista de Empleados API Mejorado</a> </li>
                                <li><a href="{% url 'empleado_busqueda_avanzada' %}">Busq. Avanzada Producto</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Productos <i class="fa-solid fa-chevron-down"></i></a>
                    <ul class="submenucrud">
                        <li><a href="{% url 'lista_productos_api' %}">Lista de Productos API</a></li> 
                        <li><a href="{% url 'lista_productos_api_mejorado' %}">Lista de Productos API Mejorado</a></li> 
                        <li><a href="{% url 'producto_crear' %}">Crear Producto API</a></li>
                        <li><a href="{% url 'producto_busqueda_avanzada' %}">Busq. Avanzada Producto API</a></li>
                    </ul>
                </li>
                <!-- Elemento del menú "Busqueda" -->
                
               
                
                <li>
                    <form action="{% url 'producto_busqueda_simple' %}" class="d-flex m-3" role="search" method="GET">
                      <input name="textoBusqueda" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-light btn-outline-dark" type="submit">Search</button>
                    </form>
                <li>

                <li class="login mt-2"><a href="#"><i class="fa-regular fa-user"></i> Cuenta </a>
                    <ul class="submenulogin">
                        <li>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        
    </div>
</div>
{% endblock %}