{% extends "principal.html" %}

{% block cabecera %}
    <div class="d-flex justify-content-evenly">
        <div class ="cabecera">
            <h1>FARMACIA | INDIVIDUAL </h1>
        </div>
        <div>
            <form action="{% url 'farmacia_busqueda_simple' %}" class="d-flex" role="search" method="GET">
                <input name="textoBusqueda" class="form-control w-75 " type="search" placeholder="Busque aquí su farmacia" aria-label="Search">
                <button class="btn btn-light btn-outline-dark ms-2" type="submit">Buscar</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block contenido %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0 mt-5" role="alert">
                {{ message }}
                <button type"button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="descripcion_body">
        <div class="descripcion_body-texto">    
            {% include 'farmacia/farmacia_api.html' %}
        </div>
    {% block busqueda %}
    {% endblock %}
    </div>
{% endblock %} 