{% extends "principal.html" %}

{% block cabecera %}
    <div class="cabecera">
        <h1>MI PROYECTO CLIENTE - INICIO</h1>
    </div>
{% endblock %}

{% block contenido %}

<div class="descripcion_body">
    <div class="descripcion_body-texto">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://i.pinimg.com/originals/d0/01/f3/d001f368b71cee5b82dc777ace58a311.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://1.bp.blogspot.com/-D1Fqp2A17Mk/UIpc_tlENNI/AAAAAAAAAb4/JMJPZ9OrjbU/s1600/Farmacia.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://cdn.arageek.com/magazine/2021/08/Pharmacy-specialties.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
  
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


{% endblock %}
