{% extends "principal.html" %}

{% block cabecera %}
    <div class="cabecera">
        <h1>MI PROYECTO - INICIO</h1>
    </div>
{% endblock %}

{% block contenido %}
    <div class="descripcion_body">
        <div class="descripcion_body-texto">
            <h2>Listado de enlaces</h2>
            <ul>
                <li><a href="{% url 'lista_productos_api' %}"</a> Lista de Productos API</li>
                <li><a href="{% url 'lista_productos_api_mejorado' %}"</a> Lista de Productos API Mejorado</li>
                <li><a href="{% url 'lista_empleados_api' %}"</a> Lista de Empleados API</li>
                <li><a href="{% url 'lista_empleados_api_mejorado' %}"</a> Lista de Empleados API Mejorado</li>
                <li><a href="{% url 'lista_votaciones_api_mejorado' %}"</a> Lista de Votaciones API Mejorado</li>
            </ul>
        </div>
    </div>
{% endblock %}
