{% extends 'principal.html' %}
{% load static %}
{% load bootstrap_icons %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

{% block cabecera %}
    <div class="d-flex justify-content-evenly">
        <div class ="cabecera">
            <h1>PRODUCTOS | LISTA MEJORADO</h1>
        </div>
    </div>
{% endblock %}

{% block contenido %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0 mt-5" role="alert">
                {{ message }}
                <button type"button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="descripcion_body">
        <div class="descripcion_body-texto">
            <div class="grid-container">   
                {% for producto in productos %}
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex mb-2">
                                <h4 class="card-title w-75">Nombre: {{ producto.nombre_prod}}</h4>
                                <button type="button" 
                                        class="editnom  btn btn-outline-primary ms-3"> 
                                        <a class="text-decoration-none" href="{% url 'producto_editar_nombre' producto.id %}" ><span class="text-dark">Editar</span></a>
                                </button>
                            </div>
                            <h6 class="card-subtitle mb-2">Descripcion: {{ producto.descripcion}}</h6>
                            <p class="card-text">Precio: {{ producto.precio }}€</p>
                            <p class="card-text">Farmacia: {{ producto.farmacia_prod.nombre_farm}}</p>
                            {% for proveedor in producto.prov_sum_prod %}
                                <p>Proveedor del Producto: {{ proveedor.nombre_prov }}</p>
                            {% endfor %}
                        </div>
                        <div class="botones btn-group">             
                            <button type="button" class="btn btn-outline-primary"> 
                                <a class="text-decoration-none" href="{% url 'producto_editar' producto.id %}" ><span class="text-dark">Editar</span></a>
                            </button>
                            
                            <form action = "{% url 'producto_eliminar' producto.id %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                                    <span>Eliminar</span>
                                </button>
                            </form>
                        </div>
                    </div>
                {% empty %}
                    <h2> No se encontraron datos. </h2>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}