<div class="individual">
    <div class="card h-100">
        <div class="card-body">
            <div class="d-flex mb-4">
                <h1 class="card-title w-75">Nombre: {{ producto.nombre_prod}}</h1>
                <button type="button" class="editnom btn btn-outline-primary ms-3"> 
                    <a class="text-decoration-none" href="{% url 'producto_editar_nombre' producto.id %}" ><span class="text-dark">Editar</span></a>
                </button>
            </div>
            <h3 class="card-subtitle mb-5">Descripcion: {{ producto.descripcion}}</h3>
            <h3 class="card-text mb-5">Precio: {{ producto.precio }}</h3>
            <h3 class="card-text mb-5">Farmacia: {{ producto.farmacia_prod.nombre_farm}}</h3>
            {% for proveedor in producto.prov_sum_prod %}
                <h3 class="card-text">Proveedor del Producto: {{ proveedor.nombre_prov }}</h3>
            {% endfor %}
        </div>
        <div class="botones-indv btn-group">
            <button type="button" class=" me-2 btn btn-outline-primary">
                <a class="text-decoration-none" href="{% url 'producto_editar' producto.id %}">
                    <span class="text-dark">Editar</span>
                </a>
            </button>
            <form action="{% url 'producto_eliminar' producto.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                    <span>Eliminar</span>
                </button>
            </form>
        </div>
    </div>
</div>