
<div class="container">
    <div class="d-flex mt-4">
        <div>
            <img class="img-ind mb-3" src="https://elviszm12.pythonanywhere.com/{{ prospecto.producto.imagen_prod }}">
        </div>
        <div class="p-2">
            <h1 class="prod-title card-title">{{ prospecto.producto.nombre_prod }}</h1>
            <div class="ms-4">
                <p> {{ prospecto.producto.precio }}€ / ud</p>
            </div>
            {% if request.session.token %}
            {% if request.session.usuario.rol == 2 %}
            <div class="acciones_prod d-flex">
                <button type="button" class="btn">
                    <a class="text-decoration-none" href="{% url 'agregar_carrito' prospecto.producto.id %}"><span style="color:white;">Añadir al Carrito</span></a>
                </button>
            </div>
            {% endif %}
            {% endif %}
            {% if request.session.usuario.rol == 1 or request.session.usuario.rol == 4 %}
            <div class="acciones_prod d-flex">
                <button type="button" class="btn">
                    <a class="text-decoration-none" href="{% url 'producto_editar' prospecto.producto.id %}"><span style="color:white;">Editar</span></a>
                </button>

                <button type="submit" class="btn" onclick="return eliminar();">
                    <a class="text-decoration-none" href="{% url 'producto_eliminar' prospecto.producto.id %}"><span style="color:white;">Editar</span></a>
                </button>
            </div>
            {% endif %}
            
            <div class="info_prod" style="margin-top: 3em;">
                <h3>Descripcion</h3>
                <p class="">{{ prospecto.producto.descripcion }}</p>
                <div class="d-flex justify-content-between">
                    <div class="info_prod ms-4">
                        <h3>Stock</h3>
                        <p class="">{{ prospecto.producto.stock }}</p>
                    </div>
                    
                    <div class="info_prod me-5">
                        <h3>Farmacia</h3>
                        <p class="">{{ prospecto.producto.farmacia_prod.nombre_farm }}</p>
                    </div>
                </div>
                <div class="info_prod">
                    <h3 class="">Proveedores</h3>
                    <div class="row">
                        <div class="col-3">
                            {% for proveedor in prospecto.producto.prov_sum_prod %}
                            <div class="info_prod ms-4">
                                <p> {{ proveedor.nombre_prov }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="detalles_prod">
        <h3>Detalles</h3>
        <p>Qué necesita saber antes de empezar a tomar {{prospecto.producto.nombre_prod}}:</br></br>
            {{ prospecto.detalles }}</p>
        <p>Composición y presentación:<br><br>
            {{ prospecto.composicion }}</p>
        <p>¿Cómo tomar {{prospecto.producto.nombre_prod}}?<br><br>
            {{ prospecto.modo_de_uso }}</p>
    </div>
</div>